body {
  margin: 0;
  padding: 0;
  color: #424242;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background-color: #F0F0F2;

}

.splash {
  background-size: cover;
  background-position: center;
  background: #191954;
  background: -webkit-linear-gradient(left, #191954 , #0FC4AB);
  background: -o-linear-gradient(right, #191954, #0FC4AB);
  background: -moz-linear-gradient(right,#191954, #0FC4AB);
  background: linear-gradient(to right, #191954, #0FC4AB);
  color:white;
  margin-top: 0;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

.splash h1 {
  margin: 5%;
}

.top {
  margin-top: 0;
}
.navbar{
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.logo {
border: 1px solid white;
margin-top: 5px;
width: 75px;
height: 75px;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 1%;
}

.nav-link:hover {
  border-bottom: 1px solid #0D6F7F;
  color: #0D6F7F;
}

.logo:hover {
  border-color: #0D6F7F;
}

#portfolio {
  margin: 5%;
  margin-top: 20%;
}

#portfolio h3{
  text-align: center;
  margin-top: 17%;
  font-size: 1.5em;
  margin-bottom: .2em;
}

.project{
  flex-direction:column;
  width: 100%;
}

.portfolio-image{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   max-width: 100%;
}

.project-info {
  font-style: italic;
  text-align: center;
  margin-top: 0;
}

.technology {
  font-size: 1.1em;
}

.bold {
  font-weight: bold;
}
.project-links{
  text-align: center;
}

.project-links a{
  text-decoration: none;
  padding: .5em;
  color: #0D6F7F;
  font-weight: bold;
  font-size: 18px;
}

.project-links a:hover{
  color: #069794;
}

#about-page{
  margin: 5%;
  margin-top: 20%;
  display:flex;
  text-align: left;
  flex-direction: column;
}

.about-picture{
  border-radius: 100%;
  max-width: 100%;
}

.resume {
  margin: 4%;
}

.download-section{
  display:flex;
  justify-content: flex-end;
  margin-bottom: 5%
}
#download {
  padding: .5em;
  border-radius: 5%;
  background-color: #0D6F7F;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

.resume h3 {
  color:#0D6F7F;
}

.resume h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.resume a{
  color: #0D6F7F;
}


.resume span {
  font-weight:bold;
}

.resume-header{
  text-align: center;
  border-bottom: 1px solid #0D6F7F;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 2em;
}

/*---------------------------------------*/
@media screen and ( min-width:600px ){

  .splash {
    font-size: 2em;
  }

  .logo {
    border: 3px solid white;
    width: 200px;
    height: 200px;
  }

  .nav-link {
    font-size: 24px;
  }
  .nav-link:hover {
    border-bottom: 3px solid #0D6F7F;
  }

  #portfolio{
    margin-top: 15%;
  }


  #portfolio h3{
    font-size: 2em;
  }

  #portfolio a {
    font-size: 1.5em;
  }

  #about-page{
    margin-top: 15%;
    display:flex;
    flex-basis: 100%;
    flex-direction: row;
  }

  .about-picture{
    border-radius: 100%;
    width: 30%;
    height: 30%;
    margin-right: 5%;
  }

  h1 {
    font-size: 2.5em;
  }
  h2{
      font-size: 1.75em;
    }

  p {
    font-size: 1.25em;
  }

  .resume {
    margin: 5% 10% 5% 10%;

  }

  .sub-header{
    display:flex;
    justify-content: space-between;

  }

  }/* 600px*/
/*-------------------------------------------*/
  @media screen and ( min-width:1100px ){


    #portfolio {
      display: flex;
      justify-content: space-between;
    }

    .project{
      width: 30%;
    }

    .About{
      display:flex;
      flex-basis: 100%;
      margin: 5%;
      text-align: left;
    }

    .about-picture{
      border-radius: 100%;
      flex-basis: 25%;
      margin-right: 5%;
    }
    .about-details {
      flex-basis: 66%
    }

    .resume {
      margin: 5% 10% 5% 10%;

    }

    .sub-header{
      display:flex;
      justify-content: space-between;

    }

    }/* 1100px*/
