body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.splash {
  background-size: cover;
  background-position: center;
  background: #191954;
  background: -webkit-linear-gradient(left, #191954 , #0FC4AB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #191954, #0FC4AB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,#191954, #0FC4AB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #191954, #0FC4AB);
  height: 700px;
  color:white;
  padding-top: 250px;
  margin-top: 0;
  text-align: center;
  font-size: 50px;
}
.navbar{
  display: flex;
  background-color: black;
}
.logo {
  text-decoration: none;
  font-size: 24px;
  padding: 20px;
  color: white;
}

.nav-link {
  text-decoration: none;
  font-size: 24px;
  padding: 20px;
  color: white;
  justify-content: flex-end;
}

.nav-link:hover {
  text-decoration: underline;
  color: pink;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  color: black;
}
.project {
  width: 400px;
}
.portfolio-image {
justify-content: space-between;

}

.section {
display: flex;
}

.portfolio-image:hover {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-page{
  display:flex;
  flex-basis: 100%;
  margin: 5%;

  text-align: left;

}
.about-page h1{

  font-size: 50px;
}
.about-page h2{
  font-size: 40px;
}
.about-page p{
  font-size: 28px;
}
.unicorn {
  color: #02B3A2;
}

.about-picture{
  border-radius: 100%;
  flex-basis: 33%;
  margin-right: 5%;
}
.about-details {
  flex-basis: 66%
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 2em;
}
